ENVIRONMENT=LOCAL

DATABASE_URL=postgresql://postgres:postgres@127.0.0.1:54322/postgres
NEXT_PUBLIC_SUPABASE_URL=http://127.0.0.1:54321
NEXT_PUBLIC_SUPABASE_ANON_KEY=replace-with-your-supabase-anon-key
SUPABASE_SERVICE_ROLE_KEY=replace-with-your-supabase-service-role-key
AUTH_ADMIN_EMAIL=admin@example.com


LOCAL_SUPABASE_API_PORT=54321
LOCAL_SUPABASE_DB_URL=http://127.0.0.1
LOCAL_SUPABASE_DB_PORT=54322
LOCAL_SUPABASE_STUDIO_URL=http://127.0.0.1
LOCAL_SUPABASE_STUDIO_PORT=54323
